.footer {
  padding: 40px 0; }

.footer__block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; }
  @media screen and (max-width: 652px) {
    .footer__block {
      justify-content: center; } }
  .footer__block div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0; }
    .footer__block div p {
      margin: 0 15px;
      color: #29323c;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400; }
    .footer__block div img {
      margin: 0 5px; }
      .footer__block div img:hover {
        opacity: .5; }
