.home-wrapper {
  background: #2c3e50 url("/assets/img/home/bg.png") center center no-repeat;
  background-size: cover; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

.home-wrapper {
  adwadw: dawd; }
