@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800");
* {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.conteiner {
  max-width: 1170px;
  min-width: 370px;
  width: 100%;
  margin: 0 auto; }

.one_section {
  background: #fff url("../img/bg_h.png") no-repeat;
  background-size: cover; }

.area {
  display: flex;
  padding: 30px 0 15px; }

.logo a {
  display: flex;
  justify-content: space-around;
  -webkit-flex-flow: row wrap; }

.logo a:hover {
  border: #4d4d4d; }

.one_section-nav {
  width: 100%; }

.one_section_list {
  list-style: none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end; }

.one_section_list a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 18px 20px 0;
  color: #4d4d4d;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer; }

.one_section_list a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0px;
  background-color: #4d4d4d;
  transition: width .3s ease-in-out; }

.one_section_list a:hover:after {
  width: 100%; }

.one_section_list a:focus:after {
  width: 100%; }

.one_section_content {
  padding: 170px 0 300px;
  background: url("../img/img_face.png") right 0%/85% no-repeat; }

.one_section_content_h1 {
  color: #4d4d4d;
  font-family: "Open Sans", sans-serif;
  font-size: 90px;
  font-weight: 500;
  line-height: 67px; }

.one_section_content_h3 {
  color: #4d4d4d;
  margin: 0 32px 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 67px; }

.one_section_content_img {
  line-height: 67px;
  float: right; }

.one_section_content_bt {
  display: flex; }

.o_s_bt_hire_me {
  margin: 0 20px; }

.o_s_bt_know_more, .o_s_bt_hire_me {
  text-decoration: none;
  min-width: 160px;
  height: 50px;
  border: 1px solid #4d4d4d; }

.o_s_bt_know_more:hover, .o_s_bt_hire_me:hover {
  background: #ffffff;
  box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1);
  border: none; }

.one_section_content_bt_one, .one_section_content_bt_two {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #4d4d4d;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 45px; }

.two_sectiono {
  background: #fff; }

.two_section_st {
  display: flex;
  margin: 100px 0; }

.two_section_content {
  margin: 70px 0 0;
  padding: 0 8% 0 0; }

.title_line {
  opacity: 0.6;
  margin: 0 3px 15px;
  width: 60px;
  border: 2px solid #212121; }

.g_h2_text {
  opacity: 0.8;
  color: #4d4d4d;
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 49px;
  text-transform: uppercase;
  letter-spacing: 5px; }

.two_section_p {
  width: 80%;
  color: #4d4d4d;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; }

.bt_two_section {
  margin: 40px 0 0;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 245px;
  height: 50px;
  border: 2px solid #4d4d4d; }

.bt_two_section:hover {
  background: #ffffff;
  box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1);
  border: none; }

.bt_two_section span {
  color: #4d4d4d;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.three_section {
  background: #f6f6f6;
  text-align: center;
  padding: 100px 0 100px; }

.centering {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px; }

.three_section_list a {
  text-decoration: none; }

.three_section_list li {
  margin: 70px 0;
  display: inline-block;
  width: 350px;
  line-height: 49px; }

.three_section_list li:hover {
  box-shadow: 0 21px 20px -20px #dad8d8; }

.three_section_list p {
  color: #4d4d4d;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 49px; }

.three_section_list_width {
  display: block;
  margin: 0 auto;
  width: 230px; }

.four_section_diagram {
  width: 100%; }

.four_section, .five_section {
  background: #fff;
  text-align: center;
  padding: 100px 100px; }

.five_section {
  background: #f6f6f6; }

.five_section_conteiner {
  margin: 40px 0;
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.five_section_item {
  position: relative;
  width: 31%;
  margin: 1%; }

.five_section_item_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s; }

.five_section_conteiner .five_section_item_img {
  display: block;
  width: 100%;
  height: auto; }

.five_section_item_img:hover, .five_section_item_hover:hover {
  box-shadow: 0 0 37px 12px rgba(0, 0, 0, 0.15);
  opacity: 0.9; }

.five_section_item_hover img {
  padding: 25px 25px;
  background-color: white;
  border: 2px solid #eae6e6;
  box-shadow: 0 0 37px 12px rgba(0, 0, 0, 0.15); }

.five_section_item_hover img:hover {
  box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, 0.15); }

.sixth_section {
  background: #fff;
  margin: 130px 0; }

.sixth_sectiot_conteiner {
  max-width: 955px;
  overflow: hidden; }

.sixth_section_conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px 0 0;
  padding: 120px 80px;
  border: 1px solid #212121; }

.sixth_section_conteiner_one {
  padding-right: 30px; }

.sixth_section_conteiner_h3 {
  opacity: 0.9;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1px;
  text-transform: uppercase; }

.sixth_section_conteiner_h4 {
  width: 570px;
  opacity: 0.9;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: italic;
  line-height: 49px;
  text-transform: uppercase; }

.sixth_section_conteiner_p {
  width: 570px;
  opacity: 0.6;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase; }

.seven_section {
  background: #f6f6f6;
  margin: 130px 0; }

.seven_section_conteiner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row; }

.seven_section_conteiner div {
  padding: 50px 0;
  display: block;
  margin: 0 auto;
  text-align: center; }

.seven_section_conteiner_p {
  opacity: 0.9;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase; }

.seven_section_conteiner_p span {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  width: 100%; }

.footer_section {
  background: #fff url("../img/contact_bg.png") center center no-repeat fixed;
  background-size: cover;
  overflow: hidden; }

.contac_section {
  margin: 150px 0 60px; }

.title_white_color {
  border: 2px solid #fff; }

.white_color_text {
  color: #fff;
  margin-bottom: 70px; }

.footer_section_list li {
  display: inline-block; }

.s_fa i {
  padding: 15px;
  color: black;
  letter-spacing: 0.96px;
  background-color: white; }

.s_fa i:hover {
  color: white;
  background-color: #0084b4; }

.fa-facebook-f:before {
  content: url("/f39e"); }

.fa-twitter:before {
  content: url("/f099"); }

.fa-linkedin-in:before {
  content: url("/f0e1"); }

.fa-google-plus-g:before {
  content: url("/f0d5"); }

.fa-behance:before {
  content: url("f1b4"); }

.fa-dribbble:before {
  content: url("/f17d"); }

.social_copyration {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0; }

.footer_section_copyration {
  display: block;
  margin: 0 auto;
  margin-right: 43%; }

.footer_section_copyration p {
  color: #d4d4d4;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0.96px; }

.anchor_top {
  display: flex;
  justify-content: flex-end; }

.anchor_top img {
  padding: 25px;
  background-color: white; }

.anchor_top img:hover {
  box-shadow: inset 0px 3px 27px 2px #969595; }

.conteiner_contact {
  max-width: 769px;
  width: 100%;
  margin: 0 auto; }

.conteiner_contact li {
  display: inline-block;
  width: 49%;
  margin-bottom: 30px; }

.n_e_input {
  border: none;
  width: 350px;
  height: 57px;
  background-color: #fff; }

.ms_input {
  border: none;
  width: 730px;
  height: 207px;
  background-color: #fff; }

.conteiner_contact textarea,
.conteiner_contact input {
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0.96px;
  padding-left: 10px; }

.bt_send {
  margin-top: 30px;
  width: 123px;
  height: 50px;
  border: 1px solid #d4d4d4;
  background-color: #fff; }

.bt_send:hover {
  box-shadow: inset 0px 3px 27px 2px #969595;
  cursor: pointer; }

.bt_send span {
  color: #4d4d4d;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.96px;
  padding-right: 5px; }
