.contacts-wrapper {
  background: #75b4aa url("../../img/contacts/bg1.png") center center no-repeat;
  background-size: cover; }

.st-color-link-contacts:hover {
  background: #82c8bd !important; }
  @media screen and (max-width: 922px) {
    .st-color-link-contacts:hover {
      background: none !important;
      color: #82c8bd !important; } }
