.header {
  margin: 50px 0; }

.logo img:hover {
  filter: opacity(66%); }

.hed_content {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 600px) {
    .hed_content {
      flex-direction: column;
      justify-content: center; } }

.nav {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center; }
  .nav div {
    margin: 0 15px; }
  @media screen and (max-width: 600px) {
    .nav {
      flex-direction: column; } }

.bt_nav_st {
  color: #fff;
  font-family: "BrandonGrotesque-Medium";
  font-size: 18px; }
  .bt_nav_st:hover {
    color: #d4d4d4; }
