.footer {
  background: #ffffff; }

.st_footer {
  padding: 35px; }

.nomber_text_f {
  color: #3f3f3f;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px; }
