@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i,800,800i");
header {
  background: #ffffff;
  margin: 30px 0; }

.nav_list li {
  margin: 0 21px; }
  @media (max-width: 1089px) {
    .nav_list li {
      margin: 0; } }

.bt_bay_now {
  border-radius: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center; }
  @media (min-width: 1980px) {
    .bt_bay_now {
      font-size: 24px; } }
  @media (max-width: 992px) {
    .bt_bay_now {
      width: 100%; } }
  .bt_bay_now a {
    color: #d4d4d4; }

#bg_bt_bay {
  border-radius: 100px;
  color: #d4d4d4;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #8d81ac;
  width: 145px;
  height: 38px;
  text-align: center; }
  #bg_bt_bay:hover {
    box-shadow: 0px 0px 20px 5px #8d81ac; }
  @media (min-width: 1980px) {
    #bg_bt_bay {
      width: 160px;
      height: 53px; } }
  @media (max-width: 991px) {
    #bg_bt_bay {
      background: none;
      width: auto;
      height: auto;
      box-shadow: none; } }
  #bg_bt_bay a:hover {
    color: #fff; }
  @media (max-width: 991px) {
    #bg_bt_bay a {
      background: none;
      width: auto;
      height: auto;
      box-shadow: none; } }

.top {
  background: #81779d url("../img/bg-top.png") center center no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden; }

.h1_text_top {
  margin: 100px 0 30px;
  color: #d4d4d4;
  font-family: "Raleway", sans-serif;
  font-size: 82px;
  font-weight: 700; }
  @media (max-width: 449px) {
    .h1_text_top {
      font-size: 52px; } }

.h3_text_top {
  color: #8d81ac;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize; }
  @media (max-width: 449px) {
    .h3_text_top {
      font-size: 20px; } }

.p_text_top {
  margin: 20px 0 520px;
  color: #848e97;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase; }

#bt_dw_center {
  position: absolute;
  margin-top: -30px; }

.bt_download_top {
  display: flex;
  justify-content: center; }
  .bt_download_top:hover {
    text-decoration: none; }

.bt_download_top_text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8d81ac;
  color: #d4d4d4;
  font-family: "Raleway", sans-serif;
  font-size: 21px;
  font-weight: 700;
  width: 390px;
  height: 62px;
  border-radius: 100px; }
  .bt_download_top_text:hover {
    color: white;
    box-shadow: 0px 0px 20px 5px #8d81ac; }

.p_text_top_trial {
  color: #848e97;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px; }

.features {
  background: #fff;
  text-align: center;
  padding: 130px 0 115px; }

.h2_text_features {
  color: #635c73;
  font-family: "Raleway", sans-serif;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase; }
  @media (max-width: 560px) {
    .h2_text_features {
      font-size: 30px; } }

.p_text_features {
  padding: 30px 0;
  opacity: 0.8;
  color: #323232;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 400; }
  @media (max-width: 560px) {
    .p_text_features {
      font-size: 14px; } }

.social {
  background: #f4f4f4;
  padding: 80px 0; }
  @media (max-width: 1199px) {
    .social {
      overflow: hidden; } }
  @media (min-width: 300px) and (max-width: 550px) {
    .social {
      padding-right: 0 !important;
      padding-left: 0 !important; } }

@media (max-width: 420px) {
  .img__size {
    width: 70px; } }

@media (max-width: 480px) {
  #pad_nool {
    padding-right: 0 !important; } }

.bt_social_link {
  margin: 10px; }
  @media (max-width: 400px) {
    .bt_social_link {
      width: 130px; } }
  .bt_social_link img {
    width: 80%; }

.bt_social_link_git {
  background-color: #f3f3f3 !important; }
  .bt_social_link_git:hover {
    box-shadow: 0px 0px 20px 5px #8c969e; }

.bt_social_link_tw {
  background-color: #26a6d1 !important; }
  .bt_social_link_tw:hover {
    box-shadow: 0px 0px 20px 5px #8c969e; }

.bt_social_link_f {
  background-color: #3b5998 !important; }
  .bt_social_link_f:hover {
    box-shadow: 0px 0px 20px 5px #8c969e; }

.g_text_social {
  color: #8d81ac;
  text-align: center;
  padding: 0 0 30px;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px; }

@media (min-width: 1200px) {
  .g_text_social_reset {
    display: none; } }

@media (max-width: 1200px) {
  .g_text_social_reset_two {
    display: none; } }

.social_padding_position {
  padding: 15px 0; }

.social_p_one_text {
  color: #323232;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px; }
  @media (max-width: 520px) {
    .social_p_one_text {
      font-size: 13px; } }

.social_p_two_text {
  color: #848e97;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px; }
  @media (max-width: 520px) {
    .social_p_two_text {
      font-size: 11px; } }

.social_code_img {
  position: absolute;
  margin: 5px -20px 0; }
  @media (max-width: 1199px) {
    .social_code_img {
      position: relative;
      margin: 0; } }
  .social_code_img img {
    width: 118%; }
    @media (min-width: 480px) and (max-width: 740px) {
      .social_code_img img {
        width: 124%; } }
    @media (min-width: 741px) and (max-width: 991px) {
      .social_code_img img {
        width: 130%; } }
    @media (min-width: 1201px) and (max-width: 1387px) {
      .social_code_img img {
        width: 118%;
        height: 700px; } }
    @media (min-width: 1756px) {
      .social_code_img img {
        width: 135%;
        height: 480px; } }
    @media (min-width: 1666px) and (max-width: 1755px) {
      .social_code_img img {
        width: 125%;
        height: 550px; } }
    @media (min-width: 1755px) and (max-width: 1980px) {
      .social_code_img img {
        width: 133%;
        height: 600px; } }

.autor {
  margin: 90px 0 80px;
  text-align: center; }

.testmonials {
  background: #4b3b4e url("../img/Layer_122.png") center center no-repeat;
  background-size: cover;
  padding: 100px 0; }

.h2_text_testmonials {
  color: #d4d4d4;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 700; }

.p_text_testmonials {
  padding-top: 30px;
  color: #d4d4d4;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600; }

.con_testmonials {
  padding: 50px 0; }

.testmonials_line {
  background-color: #c7c7c7;
  opacity: 0.2; }

.pricing {
  background: #4b3b4e url("../img/Layer_2111.png") center center no-repeat;
  background-size: cover;
  padding-bottom: 75px; }

.h2_pricing {
  color: #d4d4d4;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 700; }

.bttn:hover {
  text-decoration: none; }

.br_buy_pricing {
  background-color: rgba(255, 255, 255, 0.11);
  width: 257px;
  height: 430px !important;
  margin: 100px 15px; }
  @media (min-width: 761px) and (max-width: 380px) {
    .br_buy_pricing {
      height: 450px !important; } }
  .br_buy_pricing:hover {
    background-color: rgba(0, 0, 0, 0.11);
    transform: scale(1.2); }

.h3_prisingbg-text {
  margin: 0 -14px;
  padding: 15% 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: #d4d4d4; }

.prise_prising {
  color: #d4d4d4;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 90.28px; }
  .prise_prising span {
    font-weight: 400; }

.personal_lic {
  color: #d4d4d4;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 15px 0; }

.bt_purch {
  padding: 10px 45px;
  border-radius: 99px;
  background-color: rgba(232, 220, 220, 0.18);
  color: #d4d4d4;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.45px;
  text-transform: uppercase;
  margin: 15px 0; }
  .bt_purch:hover {
    box-shadow: 0px 0px 20px 5px #8c969e;
    text-decoration: none !important;
    color: #fff; }
  @media (min-width: 320px) and (max-width: 370px) {
    .bt_purch {
      padding: 8px 15px; } }
  @media (min-width: 768px) and (max-width: 900px) {
    .bt_purch {
      padding: 8px 30px; } }
  @media (min-width: 1200px) and (max-width: 1470px) {
    .bt_purch {
      padding: 8px 30px; } }

.per_mont {
  opacity: 0.3;
  color: #d4d4d4;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

.p_top_text_pric {
  opacity: 0.8;
  color: #a291a5;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; }

.subscription {
  background: #f4f4f4;
  padding: 40px 0; }

.p_text_subsc {
  color: #635c73;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700; }

.intp_email_subsc {
  width: 315px !important;
  height: 42px !important;
  background-color: #d4d4d4 !important;
  border-radius: 99px !important; }

.bt_subsc {
  width: 140px !important;
  height: 42px !important;
  background-color: #8d81ac !important;
  border-radius: 99px !important;
  color: #d4d4d4 !important;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  border-color: #d4d4d4 !important; }
  .bt_subsc:hover {
    box-shadow: 0px 0px 20px 5px #8c969e; }

@media (min-width: 320px) and (max-width: 1136px) {
  .sub_st {
    justify-content: center !important; } }

@media (max-width: 768px) {
  .p_text_dest {
    display: none; } }

@media (min-width: 768px) {
  .p_text_mob {
    display: none; } }

.links {
  background: #fff; }

.links hr {
  margin: 10px;
  width: 100%;
  height: 1px;
  background-color: #c7c7c7;
  opacity: 0.2; }

.st_links {
  padding: 50px; }

.links_h3_text {
  color: #d3d1da;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px; }

.links_p_black_text {
  color: #323232;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; }

.links_p_gray_text {
  color: #848e97;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px; }

.links_p_purp_text {
  color: #8d81ac;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; }

.link_to {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f4f4f4; }

.footer {
  background: #ffffff; }

.st_footer {
  padding: 35px; }

.nomber_text_f {
  color: #3f3f3f;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px; }

.center__content {
  margin: 0 auto;
  width: 100%; }
