@media screen and (max-width: 991px) {
  header {
    padding: 1rem 0 20px !important; } }

.st-brand img:hover {
  opacity: 0.5; }

.st-navbar {
  padding: 0 !important; }
  @media (min-width: 992px) {
    .st-navbar {
      justify-content: flex-end; } }

.st-color-link {
  padding: 2.5rem 1rem 20px !important;
  color: #fff !important;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400; }
  @media screen and (max-width: 992px) {
    .st-color-link {
      padding: .5rem 1rem !important; } }
  .st-color-link:hover {
    overflow: hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
