.home-wrapper {
  background: #2c3e50 url("../../img/home/bg.png") center center no-repeat;
  background-size: cover;
  height: 100vh; }

.st-color-link-home:hover {
  background: #74c7d5 !important; }
  @media screen and (max-width: 922px) {
    .st-color-link-home:hover {
      background: none !important;
      color: #74c7d5 !important; } }
