.carousel-block {
  padding: 350px 0; }
  @media screen and (max-height: 1366px) {
    .carousel-block {
      padding: 450px 0; } }
  @media screen and (max-height: 1024px) {
    .carousel-block {
      padding: 350px 0; } }
  @media screen and (max-height: 968px) {
    .carousel-block {
      padding: 150px 0; } }
  @media screen and (max-height: 768px) {
    .carousel-block {
      padding: 170px 0; } }
  @media screen and (max-height: 568px) {
    .carousel-block {
      padding: 120px 0; } }

.carousel-block-next {
  width: 840px;
  background-color: rgba(255, 255, 255, 0.3); }
  @media screen and (max-width: 991px) {
    .carousel-block-next {
      width: 450px; } }
  @media screen and (max-width: 666px) {
    .carousel-block-next {
      width: 250px; } }
  @media screen and (max-width: 420px) {
    .carousel-block-next {
      width: 180px; } }

.carousel-indicators .active {
  background-color: #74c7d5 !important; }

.carousel-indicators li {
  width: 15px !important;
  height: 15px !important;
  border-radius: 99px !important;
  background: rgba(255, 255, 255, 0.5) !important; }

.carousel-block-text-one {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: nowrap;
  align-items: center; }

.carousel-block-text {
  width: 100%;
  text-align: right; }
  .carousel-block-text h3 {
    color: #74c7d5;
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: 100; }
    @media screen and (max-width: 991px) {
      .carousel-block-text h3 {
        font-size: 40px; } }
    @media screen and (max-width: 666px) {
      .carousel-block-text h3 {
        font-size: 20px; } }
    @media screen and (max-width: 420px) {
      .carousel-block-text h3 {
        font-size: 15px; } }

.carousel-block-text-1 {
  width: 50%; }
  .carousel-block-text-1 h2 {
    color: #74c7d5;
    font-family: "Roboto", sans-serif;
    font-size: 138px;
    font-weight: 900;
    text-transform: uppercase; }
    @media screen and (max-width: 991px) {
      .carousel-block-text-1 h2 {
        font-size: 60px; } }
    @media screen and (max-width: 666px) {
      .carousel-block-text-1 h2 {
        font-size: 35px; } }
    @media screen and (max-width: 420px) {
      .carousel-block-text-1 h2 {
        font-size: 20px; } }
